##################################################################################################
######################################JFXMETRO FONT CONFIGURATION#################################
##################################################################################################

##LABEL
headerlabel.font=Segoe UI Light
headerlabel.font.size=42
subheaderlabel.primary.font=Segoe UI Light
subheaderlabel.primary.font.size=20
subheaderlabel.secondary.font=Segoe UI Semibold
subheaderlabel.secondary.font.size=11
subheaderlabel.tertiary.font=Segoe UI Semibold
subheaderlabel.tertiary.font.size=11
textlabel.control-title.font=Segoe UI
textlabel.control-title.font.size=11
textlabel.control-input.font=Calibri
textlabel.control-input.font.size=12
textlabel.descriptive.font=Segoe UI
textlabel.descriptive.font.size=9
textlabel.informative.font=Segoe UI
textlabel.informative.font.size=9

##BUTTON
button.primary.font=
button.primary.font.size=
button.secondary.font=
button.secondary.font.size=
button.tile.font=
button.tile.font.size=

##TEXTFIELD

##